*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    height: 100px;
    border: 1px solid #ececec;
    background-color: #ffffff;
}
.header__flex{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.header__left{
    display: flex;
    align-items: center;
}
.logo__link{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo__text{
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.68px;
    padding-left: 13px;
    color: #222222;
}
.logo__d{
    color: #f16d7f;
    font-weight: 400;
    font-family: Lato - Black;

}
.header__search{
    display: flex;
    margin-left: 37px;
}
.header__browse{
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
}
.header__browse__text{
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
}
.header__form{
    display: flex;
    margin-left: 37px;
}
.header__form__text{
    width: 280px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
}
.header__form__button{
    width: 36px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}
.header__right{
    display: flex;
    align-items: center;
}
.header__shop{
    align-self: flex-end;
}
.header__account{
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    margin-left: 26px;
}
.header__account__text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.38px;
}
.header__account:hover{
    background-color:#ffffff;
    border: 1px solid #f16d7f;
}
.header__account:hover .header__account__text{
    color: #f16d7f;
}
.navigation {
    display: block;
}
.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.menu-link{
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.slider{
    height: 613px;
    background-color: #e8e8e8;
}
.slider__box{
    background: url(img/slider.png) 0 -51px;
    height: 100%;

}
.slider__border{
    display: block;
    width: 12px;
    background-color: #f16d7f;
}
.slider__text{
    display: flex;
    padding-left: 12px;
    padding-top: 224px;
}
.slider-text-box {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}
.slider__top__header{
    color: #222222;
    font-size: 60px;
    letter-spacing: 1.5px;
}
.slider__header{
    font-size: 40px;
}
.pink__text{
    color: #f16d7f;
}
.category{
    display: flex;
    justify-content: center;
    margin-top: 98px;
}
.category-item:hover{
    filter:brightness(50%);
}
.category-right{
    margin-left: 20px;
}
.category-for-man{
    height: 542px;
    width: 560px;
    display: block;
    background: url(img/for_man.png);
    background-size: cover;
    margin-bottom: 20px;
    text-decoration: none;
}
.category-accessories{
    width: 560px;
    height: 261px;
    display: block;
    background: url(img/accessories.png);
    background-size: cover;
    text-decoration: none;
}
.category-woman{
    width: 560px;
    height: 261px;
    display: block;
    background: url(img/woman.png);
    background-size: cover;
    margin-bottom: 20px;
    text-decoration: none;
}
.category-for-kids{
    width: 560px;
    height: 542px;
    display: block;
    background: url(img/for_kids.png);
    background-size: cover;
    text-decoration: none;
}
.category-text{
    display: inline-block;
    flex-direction: column;
    padding: 16px 20px;
    background-color: #ffffff;
    margin-top: 25px;
}
.category-text-top{
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.category-text-bottom{
    color: #f16d7f;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}
.item-sec{
    margin-top: 100px;
}
.item-sec-heading{
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.item-sec-txt{
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}
.item-box{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-link{
    display: block;
    width: 263px;
    text-decoration: none;
}
.item-pic{
    width: 100%;
}
.item{
    width: 263px;
    position: relative;
    margin-bottom: 40px;
}
.item:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.item:hover .item-pic{
    filter: brightness(50%);
}
.item:hover .add-box{
    display: flex;
}
.txt-box{
    padding: 15px;
}
.txt-desc{
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.txt-price{
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.add-box{
    display: none;
    justify-content: center;
    position: absolute;
    top: 98px;
    width: 100%;
}
.add{
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #ffffff;
    text-decoration: none;
}
.add:hover{
    box-shadow: 0 0 10px #ffffff;
}
.add-txt{
    color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    margin-left: 8px;
}
.item-button-box{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 113px;
}
.item-sec-button{
    display: inline-block;
    text-decoration: none;
    background-color: #f16d7f;
    padding: 20px 24px;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}
.item-sec-button:hover{
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    color: #f16d7f;
}